body {
    margin: 0;
	margin-bottom: 100px;
	font-family: helvetica;
	text-align: center;
}
.gameBoard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}



.tiles {
	display: inline-block;
	align-content: center;
	justify-content: center;
	height: 100px;
	width: 15%;
	background: #6786ca;
	text-align: center;
	margin: 5px;
	padding: 13px;
	border-radius: 5px;
	font-size: 1.25em;
	font-weight: bold;
	transition: 2.5s;
}

#catagories {
	display: flex;
	justify-content: space-around;
	align-content: center;
	margin: 20px 40px;
	padding-bottom: 40px;
}